@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
  font-family: "JetBrains Mono", monospace;
  background-color: #313866;
  margin: 0;
  
}

h1 {
  color: #fff;
  text-align: center;
}

header {
  background-color: #1b2749;
  padding: 10px 20px;
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
  color: #fff;
}

label {
  color: #fff;
}

.snippet-form, .snippet-search {
  background-color: #1b2749;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
}

.snippet-form h2, .snippet-search h2 {
  color: #fff;
}

/* Estilizando a barra de pesquisa e o filtro de linguagem */
.snippet-search {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; /* Alinhamento vertical preciso */
  gap: 10px; /* Espaço entre os campos */
}

.snippet-search input, .snippet-search select {
  height: 40px; /* Mesma altura para ambos */
  padding: 5px 10px; /* Espaçamento interno */
  border-radius: 5px; /* Bordas arredondadas */
  border: 1px solid #ccc; /* Borda leve */
  box-sizing: border-box; /* Garante que padding e borda não aumentem o tamanho total */
}

.snippet-search input {
  flex: 1; /* Ocupa mais espaço */
}

.snippet-search select {
  flex: 0.4; /* Ocupa menos espaço */
  max-width: 200px; /* Limita a largura do select */
}



.snippet-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.snippet-item {
  background-color: #1b2749;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  box-sizing: border-box;
}

.snippet-item h5 {
  color: #fff;
  margin-bottom: 10px;
}

.snippet-item pre {
  background-color: #313866;
  color: #f7f7f7;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  overflow-x: auto;
  white-space: pre-wrap;
  max-height: 250px;
  overflow-y: auto;
}

.btn {
  background-color: #964ec2;
  color: #fff;
}

.btn:hover {
  background-color: #ff7bbf;
  color: #fff;
}

.copy-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #964ec2;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.8rem;
  margin-top: -6px; 
}/* Ou adiciona margem superior ao botão de copiar */


.copy-btn:hover {
  background-color: #ff7bbf;
}


footer {
  background-color: #1b2749; /* Cor de fundo escura */
  color: #ffffff; /* Texto branco */
}

footer a {
  text-decoration: none;
}

footer a:hover {
  color: #e9ecef; /* Cor clara ao passar o mouse */
}

span a{
  color: #964ec2;
  cursor: pointer;
}

p {
  color: #fff;
}

@media (min-width: 576px) {
  .snippet-item {
    width: calc(50% - 20px);
  }
}

@media (min-width: 768px) {
  .snippet-item {
    width: calc(33.333% - 20px);
  }
}

@media (max-width: 576px) {
  .snippet-item {
    width: 100%;
  }
}
